<!-- <mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Welcome To eBallot</span>

  <button mat-raised-button color="accent" style="margin-right: 0px">
    LOGOUT
  </button>
</mat-toolbar> -->
<nav class="navbar navbar-dark bg-primary justify-content-between">
  <a class="navbar-brand">Welcome to eBallot</a>
  <form class="form-inline">
    <button
      class="btn btn-danger my-2 my-sm-0"
      type="submit"
      routerLink="/login"
    >
      LOGOUT
    </button>
  </form>
</nav>
