<div class="card">
  <h2 class="card-title text-center">Leader List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Index</th>
        <th scope="col">FullName</th>
        <th scope="col">Position</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leader of leaderList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ leader.fullName }}</td>
        <td>{{ leader.position }}</td>
        <td>
          <button
            class="btn btn-sm btn-success"
            [routerLink]="['/updateleader', leader.leaderId]"
          >
            Edit
          </button>
          <button
            (click)="deleteLeader(leader.leaderId)"
            class="btn btn-sm btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
